PySide6
psutil
scikit-learn
cryptography
qrcode
reportlab
matplotlib
python-dotenv
PyMuPDF
python-docx
openpyxl
python-pptx
odfpy
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
Pillow
pytesseract
numpy
torch
torchvision
sentence-transformers
keybert
pandas
python-magic-bin
chardet
pyinstaller
wheel
setuptools
